@use '/src/scss/abstracts/' as *;
input {
  text-align: center;
  width: 100%;
  border: none;
  background: $gray-background;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $gray-dark;
}
.imageButton {
  position: absolute;
  top: 60%;
  left: 10px;
  transform: translateY(-50%);
}
.input_container {
  display: flex;
  flex-direction: row;
  // align-items: flex-start;
  width: 311px;
  padding: 16px;
  gap: 12px;
  border-radius: 4px;
  border: 1px solid $gray-light;
  background: $gray-background;
}
