@use '/src/scss/abstracts/' as *;
input{
    text-align: center;
    width: 307px;
    height: 44px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid $gray-light;
     background: $gray-background;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
color: $gray-dark;
}
.imageButton {
    position: absolute;
    top: 60%;
    left: 10px; 
    transform: translateY(-50%);
  }
  
 
  