$h1: (
  font-family: 'Barrio',
  font-weight: regular,
  font-size: 42px,
  line-height: 34px,
  letter-spacing: 0%,
);

$h2: (
  font-family: 'Barriecito',
  font-weight: regular,
  font-size: 30px,
  line-height: 24px,
  letter-spacing: 0%,
);

$h3: (
  font-family: 'Poppins',
  font-weight: medium,
  font-size: 14px,
  line-height: 16px,
  letter-spacing: 0%,
);

// $body: (
//   font-family: 'Poppins',
//   font-weight: regular,
//   font-size: 14px,
//   line-height: 20px,
//   letter-spacing: 0%,
// );

$button: (
  font-family: 'Poppins',
  font-weight: medium,
  font-size: 14px,
  line-height: 16px,
  letter-spacing: 0%,
);

$button2: (
  font-family: 'Poppins',
  font-weight: semibold,
  font-size: 14px,
  line-height: 16px,
  letter-spacing: 0%,
);

$body: regular 400 14px 'Poppins';
